
nextflow.enable.dsl = 2

params {
    input_dir = ""
    output_dir = ""

    bins {
        shapeit5 = "/ifs/data/research/projects/juliet/tools/SHAPEIT5/phase_common_static
        impute5 = "/ifs/data/research/projects/juliet/tools/impute5_v1.2.0/impute5_v1.2.0_static"
    }

    refs {
        ped = ""
        chrSize {
            chr1 = 249250621
            chr2 = 243199373
            chr3 = 198022430
            chr4 = 191154276
            chr5 = 180915260
            chr6 = 171115067
            chr7 = 159138663
            chr8 = 146364022
            chr9 = 141213431
            chr10 = 135534747
            chr11 = 135006516
            chr12 = 133851895
            chr13 = 115169878
            chr14 = 107349540
            chr15 = 102531392
            chr16 = 90354753
            chr17 = 81195210
            chr18 = 78077248
            chr19 = 59128983
            chr20 = 63025520
            chr21 = 48129895
            chr22 = 51304566
        }
    }

    interpolated_refs {
        1000genomes_genotypes {
            dir = "/ifs/data/research/projects/juliet/projects/prs_educational_attainment/in/1000genomes_genotypes"
            prefix = "ALL.chr"
            postfix = ".phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz"
        }
        genetic_maps {
            dir = "../SHAPEIT_genetic_maps/"
            prefix = "chr"
            postfix = ".b37.gmap.gz"
        }
    }
}

process {
    // TODO: add slurm executor variables here
    executor = 'slurm'
    queue = 'research'
    cpus = 1
    memory = "16.GB"

    maxWorks = 500

    withName: PhaseBCF {
        cpus = 4
        memory = "64.GB"
    }

    withName: ImputeBCF {
        cpus = 4
        memory = "64.GB"
    }
}

executor {
    queueSize = 500
    submitRateLimit = "3/1s"

    retry {
        delay = "15s"
        maxAttempts = 3
    }
}

